language: node_js
node_js:
 - "stable"
addons:
  code_climate:
    repo_token:c7a2d595fe08ea6448a8229daf63ad248a8779f8dceb2e50d2d1687abb2518b6
before_script:
 - npm install codeclimate-test-reporter nyc -g
after_success:
  - npm run coverage
  - codeclimate-test-reporter < ./coverage/server/lcov.info
  - nyc report --reporter=text-lcov | coveralls
